body {
    background-color: aqua;
}

h1 {
    border: 3px solid white;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 25%;
}

#result {
    background-color: white;
    border: 3px solid black;
    width: 30%;
    height: 40vh;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 1rem;
    text-align: center;
    border-radius: 25px;
}

h2 {
    display: inline-block;
}
